h1 {  
    margin-top: 1em; 
    margin-left:1em;
    margin-right:20em;
    text-align: center; 
    margin-bottom: 0em;
    font-size: 28px;
    color:lightcoral;
    font-family: sans-serif;}

h2 {    
    margin-top:0em;
    margin-bottom: 2em;
    margin-left:6.5em;
    font-size: 14px;
    font-family: sans-serif;
    font-weight:normal;}

h3 {    
    margin-top:0em;
    margin-bottom: 0em;
    margin-left:12em; 
    font-size: 15px;
    font-family: sans-serif;
    font-weight:normal;}

h4 {    
    margin-top:1em;
    margin-bottom: 0em;
    margin-left:3em;
    margin-right:30em;
    font-size: 20px;
    font-family: sans-serif;
    font-weight:normal;
    text-align: center;}

button {
    font-family: sans-serif;
    margin-left:10em;
    margin-top:em;
    margin-bottom: 0em;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    position: relative;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;}

input{
    font-family: sans-serif;
    margin-left:14em;
    margin-top:0em;
    margin-bottom: 0em;
    margin-right:50em;}


#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;}
    
img{
    background-color: white;
    color:white;
    border: none;
    outline:none;
    margin-top:0em;
    margin-bottom: 0em;}


button:hover {
    animation-name: shakeAnim;}
    
@keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}}

@keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}}